.fixed-top {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}
.navigation{
    box-shadow: 0px 0px 10px 0px grey;
    padding: 10px;
    background-color: white;
}
.navbar-brand{
    font-family: 'Cutive Mono';
    color: black;
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 1.5em;
}
ul.navbar-nav{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
#intro {
    padding: 100px;
    width: 100%;
    height: 85%;
    background-size: 97%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-block-end: 200px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 30%;
}
.column2{
    float: left;
    width: 40%;
    padding: 40px
}
#selfie {
    margin-left: 5%;
    max-width: 90%;
    max-height: 100%;
    margin-top: 20px;
}
h1{
    font-size: 3em;
    /* color: whitesmoke; */
}
p{
    /* color: whitesmoke;; */
    font-size: 1em;
}
#down{
    text-align: center;
}
#godown{
    width: 10em;
    height: 5em;
}

html{
    scroll-behavior: smooth;
}
.material-icons.md-80 { 
    font-size: 150px; 
    color: grey;
}
.material-icons.md-80:hover{
    color: black;
    font-size:150px;
}
.categories{
    width: 100%;
    height: 400px;
    background-image: url(/images/curves.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 25px;
    text-align: center;
    justify-content: center;
    line-height: 130px;
}
ul.icons{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.icons li{
    position: relative;
    display: block;
    font-size: 80px;
    background: whitesmoke;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 0 60px;
    cursor: pointer;
}
ul.icons li:before{
  position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    background: black;
    border-radius: 50%;
    transform: scale(0.9);
    z-index: -1;
}
ul.icons li:hover:before{
    transform: scale(1.05);
    filter: blur(3px);
    box-shadow: 0 0 15px gray;
}
ul.icons li:hover{
    color: black;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
}
.icons{
    padding-top: 130px;
}
ul{
    list-style: none;
    display: flex;
}
span{
    font-size: 15px;
    font-family: 'Cutive Mono', monospace;
    line-height: 30px;
    width: 150px;
    display: list-item;
    color: black;
}
a{
    text-decoration: none;
}
.col{
    width: 50%;
    float: left;
    text-align: left;
}
.csHeading{
    font-family: 'Roboto Mono', monospace;
}
.csList{
    display:list-item;
}
ul.five{
    display: flex;
    margin: 0;
}
ul.five li{
    margin: 0 10px;
}
.col1{
    width: 15%;
    float: left;
    line-height: 0;
}
.col2{
    width: 50%;
    padding-top: 10px;
    float: left;
}
.lang{
    font-size: 20px;
    color: black;
    font:inherit;
}
ul.cs{
    display: list-item;
    font-family: 'Cutive Mono';
}
.artcolumn{
    width: 25%;
    float: left;
}
.artCol{
    width: 30%;
    float: left;
    
}
.artCat{
    margin: 0 100px;
    transition: transform .2s;
    width: 280px;
}
.artCat:hover{
    transform: scale(1.5);
    cursor: pointer;
}
#artIntro{
    font-size: 1em; 
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    color: black;
    margin: 15em;
}
.artPiece{
    border-radius: 5px;
    width: 260px;
    margin: 20px;
    cursor: pointer;
}
.artPiece:hover{
    opacity:0.7;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    height: 80%;
    width: auto;
    margin: 5% 5% 5% 15%;
    max-width: 750px;
}
#caption{
    display: initial;
    width: 35%;
    max-width: 700px;
    color: white;
    position: absolute;
    top: 40%;
    font-family: 'Cutive Mono', monospace;
}
.close{
    display: block;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus{
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    cursor: pointer;
}
.artTitle{
    text-align:center; 
    /* margin-top: 5em;  */
    color: black;
    font-family: 'Space Mono', monospace;

}
#contact{
    margin-top: 25em;
    background:rgba(255,227,227,0.5);
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: center;
    line-height: 50px;
}
ul.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
ul.social li{
    position: relative;
    display: block;
    font-size: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px 20px;
}
#github,
#linkedin,
#email{
    color:grey;
}
#github:hover{
    color: black;
}
#linkedin:hover{
    color: lightskyblue;
}
#email:hover{
    color: whitesmoke;
}